<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            margin: 0 auto;
            border: 0 auto;
            
        }
        .bb{
            border: 0px;
        }
        .aa{
            background-color: antiquewhite;
        }
        
    </style>
</head>

<body>
    <!-- 각 팀원별로 세부적인 역할에 대해 작성 -->
    <h2>8.팀원역할</h2>
    <hr>
    <table border="1" >
        <tr align="center" style="background-color:paleturquoise;">
            <td style="width: 25%;">김예지(팀장)</td>
            <td style="width: 25%;">조성일</td>
            <td style="width: 25%;">정세훈</td>
            <td style="width: 25%;">김태윤</td>
        </tr>
        <tr class="aa">
            <td>
                <ul>
                    <li>크롤링을 통한 자료수집</li>
                    <li>데이터 분석 및 시각화</li>
                    <li>자료 취합</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>html 수정</li>
                    <li>자료조사 및 크롤링</li>
                    <li>프로젝트 주제 아이디어 제공</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>데이터 전처리</li>
                    <li>데이터 분석</li>
                    <li>발표</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>자료 데이터 모은후 출시년도와 장르별로 구분</li>
                    <li>자료 데이터를 모은것을 기반으로 데이터 표 만들기</li>
                    <li>자료 수집한 내용 수정 및 검토</li>
                </ul>

            </td>
        </tr>
    </table>
</body>

</html>