<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 데이터 분석에 참고한 사이트, 데이터, 사진 등 작성 -->
    <h2>7.참고문헌</h2>
    <hr>
    <ol>
        <li>드라마 데이터 수집: 
            <ul>
                <li><a href='https://m.kinolights.com/discover/explore'>키노라이츠</a></li>
                <li><a href='https://vod.kbs.co.kr/drama.html'>KBC</a></li>
                <li><a href='https://www.imbc.com/broad/tv/drama/#location=1&page=1&EndYear=2023&Genre=0&Initial='>MBC</a></li>
            </ul>
        </li>
    </ol>
</body>
</html>