<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>2.사용한 라이브러리 및 활용 데이터셋</h2>
    <hr>
    <h3>라이브러리</h3> <!-- 분석에 활용한 라이브러리 작성 -->
    <ol>
        <li>크롤링</li>
        <ul>
            <li>time</li>
            <li>beautifulsoup</li>
            <li>selenium</li>
        </ul>
        <li>데이터 분석 및 시각화</li>
        <ul>
            <li>numpy</li>
            <li>pandas</li>
            <li>matplotlib</li> 
        </ul>
        
    </ol>

    <hr>
    <h3>활용 데이터셋</h3>
    <ol>
        <!-- 분석에 활용한 데이터 컬럼 및 데이터 총 갯수 작성 -->
        <li>장르별 드라마: 500건</li>
        <li>장르별 드라마 500건(크롤링활용)</li>
        <li>방영 년도별 장르 구분</li>
        <li>
            컬럼구성
        </li>
        
        <img src="\static\f.png" alt="데이터컬럼" />
    </ol>
</body>
</html>
